.App {
  text-align: center;

}

.DivRandomQuote {
  background-image: linear-gradient(rgba(37, 39, 39, 0.5),
      rgba(62, 61, 67, 0.5)),
    url('/public/images/bg-image-random-quote.svg');
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}